### Overview:
This file is taking the full dataset 'DataPanelWHR2021C2.xls', & sorting it based on each year.
The sorted datasets are than saved into an Excel file 'DataPanelWHR2021C2_sorted_by_year.xlsx',
where each year is saved in it's corresponding tab.
Since, we can't save a csv file with tabs, steps have also been taken to save each tab as it's own csv file
In order to be able to use this dataset for mapping purposes, some country names have been modifies to correspond to that country name in https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/world-countries.json
For example, 'United States' has been changes to 'United States of America'.

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
file = '../Data/DataPanelWHR2021C2.csv'
df = pd.read_csv(file)
df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [3]:
# check the data
df.count()

Country name                        1949
year                                1949
Life Ladder                         1949
Log GDP per capita                  1913
Social support                      1936
Healthy life expectancy at birth    1894
Freedom to make life choices        1917
Generosity                          1860
Perceptions of corruption           1839
Positive affect                     1927
Negative affect                     1933
dtype: int64

In [4]:
# Check for empty rows
df.isnull().sum()

Country name                          0
year                                  0
Life Ladder                           0
Log GDP per capita                   36
Social support                       13
Healthy life expectancy at birth     55
Freedom to make life choices         32
Generosity                           89
Perceptions of corruption           110
Positive affect                      22
Negative affect                      16
dtype: int64

In [5]:
# Delet empty rows 
df.dropna(inplace=True)

In [6]:

df.isnull().sum()

Country name                        0
year                                0
Life Ladder                         0
Log GDP per capita                  0
Social support                      0
Healthy life expectancy at birth    0
Freedom to make life choices        0
Generosity                          0
Perceptions of corruption           0
Positive affect                     0
Negative affect                     0
dtype: int64

In [7]:
df.dtypes

Country name                         object
year                                  int64
Life Ladder                         float64
Log GDP per capita                  float64
Social support                      float64
Healthy life expectancy at birth    float64
Freedom to make life choices        float64
Generosity                          float64
Perceptions of corruption           float64
Positive affect                     float64
Negative affect                     float64
dtype: object

In [8]:
# filter the data by year
df_2008=df[df['year']==2008]
df_2009=df[df['year']==2009]
df_2010=df[df['year']==2010]
df_2011=df[df['year']==2011]
df_2012=df[df['year']==2012]
df_2013=df[df['year']==2013]
df_2014=df[df['year']==2014]
df_2015=df[df['year']==2015]
df_2016=df[df['year']==2016]
df_2017=df[df['year']==2017]
df_2018=df[df['year']==2018]
df_2019=df[df['year']==2019]
df_2020=df[df['year']==2020]

In [9]:
df_2008.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
39,Argentina,2008,5.961,10.048,0.892,67.06,0.678,-0.132,0.865,0.823,0.318
54,Armenia,2008,4.652,9.256,0.709,65.00,0.462,-0.215,0.876,0.521,0.385
68,Australia,2008,7.254,10.719,0.947,71.88,0.916,0.305,0.431,0.826,0.218
81,Austria,2008,7.181,10.887,0.935,71.08,0.879,0.291,0.614,0.832,0.173

In [10]:
# Since it is not possible to save a file with multiple tabs as csv, we will save it as .xlsx 
# Save the sorted data by year to one excel sheet
with pd.ExcelWriter('DataPanelWHR2021C2_sorted_by_year.xlsx') as writer:
    df_2008.to_excel(writer, sheet_name='2008', index=False)
    df_2009.to_excel(writer, sheet_name='2009', index=False)
    df_2010.to_excel(writer, sheet_name='2010', index=False)
    df_2011.to_excel(writer, sheet_name='2011', index=False)
    df_2012.to_excel(writer, sheet_name='2012', index=False)
    df_2013.to_excel(writer, sheet_name='2013', index=False)
    df_2014.to_excel(writer, sheet_name='2014', index=False)
    df_2015.to_excel(writer, sheet_name='2015', index=False)
    df_2016.to_excel(writer, sheet_name='2016', index=False)
    df_2017.to_excel(writer, sheet_name='2017', index=False)
    df_2018.to_excel(writer, sheet_name='2018', index=False)
    df_2019.to_excel(writer, sheet_name='2019', index=False)
    df_2020.to_excel(writer, sheet_name='2020', index=False)

In [11]:
# passing `sheet_name=None` returns a dictionary 
# with the form {sheet_name: dataframe}
data = pd.read_excel('DataPanelWHR2021C2_sorted_by_year.xlsx', sheet_name=None)

# loop through the dictionary and save csv, note that this will save each tab as a csv file on its own
for sheet_name, df in data.items():
    df.to_csv(f'{sheet_name}.csv', index=False)